.wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

/* Calculator Container */
.calculator-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 500px;
}
.display-box{
    border: 1px solid black;
    padding: 16px;
    text-align: right;
    font-size: 24px;
    border-radius: 5px;
}

/* Buttons container */
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 8px; /* Add space between buttons */
}

/* Buttons */
button {
    flex: 1;
    padding: 16px;
    font-size: 20px; 
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

/* making the size of "=" take uo two space*/
.equal{
    flex: 2.5;
}

button:hover{
    background-color: rgb(127, 131, 131);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.prank{
    background-color: red;
    color: white;
    animation: shake 0.5s;
}

@keyframes shake {
    0%{
        transform: translate(10px);
    }
    50%{
        transform: translate(-10px);
    }
    75%{
        transform: translate(10px);
    }
    100%{
        transform: translate(-10px);
    }
    
    
}





